<!--The content below is only a placeholder and can be replaced.-->
<section>
  <div class="details">
    <h1>Webp Detector</h1>
    <p>
      Application is checking if webp format can be used. Use
      <i>| webpPipe</i> - script will append correct extension.
    </p>
    <p>
      Execute <i>canUseWebP()</i> in your <i>app.module.ts</i> to know use
      global variable. Use <i>globalWebpDetector</i> variable later 💥.
    </p>

    <p>
      Webp support:
      <span [ngClass]="{ active: webpSupport, disabled: !webpSupport }">{{
        webpSupport
      }}</span>
    </p>
  </div>
  <div class="image">
    <img [src]="'./assets/img/pamela' | webpPipe" />
    <p>
      <small>JPG file size <span>460kb</span> vs Webp <span>168kb</span></small>
    </p>
  </div>
</section>
