@import url("https://fonts.googleapis.com/css?family=Poppins:300,400");

section {
  text-align: center;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: -0.4px;
  display: grid;

  grid-template-areas: "details image";
  grid-template-columns: 1fr 1fr;
  @media (max-width: 980px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "details";
  }

  //   grid-auto-columns: 1fr 1fr;

  grid-gap: 25px;

  .details {
    text-align: left;
    grid-area: "details";
    order: 1;
    @media screen and (max-width: 980px) {
      order: 2;
    }
  }

  .image {
    order: 2;
    grid-area: "image";
    text-align: center;
    @media screen and (max-width: 980px) {
      order: 1;
    }
  }

  pre,
  i {
    background: #f2f2f2;
    border-radius: 4px;
    display: inline-block;
    font-family: monospace;
    font-size: 0.95rem;
    padding: 4px 10px;
    margin-bottom: 10px;
  }

  img {
    width: 100%;
  }

  h1 {
    font-size: 4rem;
    margin: 0 0 1rem;
    font-weight: 300;
  }

  p {
    margin: 0.5rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.75);
    line-height: 1.5rem;

    small {
      font-size: 0.9rem;
      opacity: 0.9;
      span {
        opacity: 1;
        border-bottom: 5px lightcoral solid;
      }
    }

    span.active {
      font-weight: bold;
      color: rgb(11, 107, 7);
    }

    span.disabled {
      color: rgb(184, 28, 28);
    }

    span {
      text-transform: uppercase;
    }
  }

  img {
    border: 1px #f2f2f2 solid;
    border-radius: 4px;
    padding: 4px;
    overflow: hidden;
    margin: 1rem 0;
  }
}
